################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChartMaster/bin
/ChartMaster/wwwroot
/ChartMaster/Properties
/ChartMaster/obj/Release/net6.0
/ChartMaster/obj
